<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Car list</h1>
<table>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Series</th>
    </tr>

    <tr th:each="cars :${car}">
        <td th:text="${cars.getModel()}"></td>
        <td th:text="${cars.getColor()}"></td>
        <td th:text="${cars.getSeries()}"></td>
    </tr>
</table>
</body>
</html>